---
---
 <!DOCTYPE html>
 <html>
		<head>
					<meta charset="utf-8">
							<title>CV Rossis</title>
								</head>
									<body>
												<h1>Bio</h1>
														<p>Name:{{site.data.details.name}}</p>
																<p>Birth Date:{{site.data.details.birthdate}}</p>
																		<p>Location:{{site.data.details.location}}</p>
																				<p>Email: <a href="mailto: {{site.data.details.email}}">{{site.data.details.email}}</a></p>

																						<h2>Education</h2>
																								<ul>
																											 {% for edu in site.data.details.education %}
																											 		   <li>{{edu}}</li>
																													   		 {% endfor %}
																															 		</ul>
																																			
																																			<h3>Hobbies</h3>
																																					<ul>
																																								 {% for hb in site.data.details.hobbies %}
																																								 		   <li>{{hb}}</li>
																																										   		 {% endfor %}
																																												 		</ul>

																																																
																																															</body>
</html>
